# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd
data = pd.read_csv('datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [30]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C,операции с недвижимостью
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью
12,0,365286.622650,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу,C,проведение свадьбы
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C,операции с автомобилем
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью
15,1,972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,C,операции с недвижимостью
16,0,1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,B,операции с недвижимостью
17,0,2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,C,операции с недвижимостью
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,C,операции с автомобилем
19,0,10038.818549,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,B,операции с автомобилем

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21348 entries, 0 to 21524
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   children               21348 non-null  int64
 1   days_employed          21348 non-null  float64
 2   dob_years              21348 non-null  int64
 3   education              21348 non-null  object
 4   education_id           21348 non-null  int64
 5   family_status          21348 non-null  object
 6   family_status_id       21348 non-null  int64
 7   gender                 21348 non-null  object
 8   income_type            21348 non-null  object
 9   debt                   21348 non-null  int64
 10  total_income           21348 non-null  int32
 11  purpose                21348 non-null  object
 12  total_income_category  21348 non-null  object
 13  purpose_category       21348 non-null  object
dtypes: float64(1), int32(1), int64(5), object(7)
memory usage: 2.4+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

или

group = data.groupby(['income_type'])
data['total_income'] = grp.total_income.apply(lambda x: x.fillna(x.median()))

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [14]:
data.duplicated().sum()

54

In [15]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [16]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

Для начала узнаем количество заемщиков по количеству детей

In [22]:
child_count = data.groupby('children')['debt'].count()
child_count

children
0    14107
1     4809
2     2052
3      330
4       41
5        9
Name: debt, dtype: int64

Теперь количество должников в зависимости от количества детей

In [23]:
child_sum = data.groupby('children')['debt'].sum()
child_sum# Ваш код будет здесь. Вы можете создавать новые ячейки.

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

Объеденим данные выборок в общую таблицу и добавим столбец, в котором будет указано отношение кол-ва должников к кол-ву заемщиков

In [24]:
debt_child = pd.DataFrame()
debt_child['Заемщики'] = child_count
debt_child['Должники'] = child_sum
debt_child['Доля должников'] = child_sum / child_count 
debt_child.sort_values('Доля должников', ascending = False)

          Заемщики  Должники  Доля должников
children
4               41         4        0.097561
2             2052       194        0.094542
1             4809       444        0.092327
3              330        27        0.081818
0            14107      1063        0.075353
5                9         0        0.000000

**Вывод:** 
с увелечением количества детей растёт и доля должников, однако заемщики с тремя детьми чаще платят в срок, чем заемщики с двумя и одним ребенком. Так же количество самих заемщиков сильно уменьшается с увелечением количества детей (всего 50 заемщиков у которых более 3 детей) Возможно, нужна выборка по большему числу заемщиков с детьми, чтоб дать более точную оценку, а пока можно сделать вывод, что бездетные заемщики реже допускают просрочки по кредитам

In [32]:
# или так

data.groupby('children').agg(число_клиентов=('debt','count'),
                             число_должников=('debt','sum'),
                             доля_должников=('debt','mean')
                             ) \
                        .style.format({'доля_должников' : '{:.2%}'})

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [26]:
fam_stat_sum = data.groupby('family_status')['debt'].sum()
fam_stat_count =  data.groupby('family_status')['debt'].count()
debt_fam = pd.DataFrame()
debt_fam['Заемщики'] = fam_stat_count
debt_fam['Должники'] = fam_stat_sum
debt_fam['Доля должников'] = fam_stat_sum / fam_stat_count
debt_fam.sort_values('Доля должников', ascending = False)

                       Заемщики  Должники  Доля должников
family_status
Не женат / не замужем      2796       273        0.097639
гражданский брак           4146       385        0.092861
женат / замужем           12266       927        0.075575
в разводе                  1189        84        0.070648
вдовец / вдова              951        63        0.066246

**Вывод:** заемщики, не состоявшие в браке, имеют большую долю просроченных платежей по кредитам, чем остальные заемщики. Заемщики, которые находятся в разводе или овдовели реже остальных допускают просрочек по кредитаам

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [27]:
income_cat_count = data.groupby('total_income_category')['debt'].count()
income_cat_sum = data.groupby('total_income_category')['debt'].sum()
debt_inc = pd.DataFrame()
debt_inc['Заемщики'] = income_cat_count
debt_inc['Должники'] = income_cat_sum
debt_inc['Доля должников'] = income_cat_sum / income_cat_count
debt_inc.sort_values('Доля должников', ascending = False)

                       Заемщики  Должники  Доля должников
total_income_category
E                            22         2        0.090909
C                         15938      1353        0.084891
A                            25         2        0.080000
B                          5014       354        0.070602
D                           349        21        0.060172

**Вывод:** большая доля должников относится к категории "Е" (доход до 30 т.р.), однако в целом заемщиков в этой категории немного. А вот категория "С" (доход 50-200 т.р.) уже интереснее: заемщиков в этой категории больше всего, как и должников. Доля должников в категориях "B" и "D" меньше чем в остальных

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [28]:
purp_count = data.groupby('purpose_category')['debt'].count()
purp_sum = data.groupby('purpose_category')['debt'].sum()
debt_purp = pd.DataFrame()
debt_purp['Заемщики'] = purp_count
debt_purp['Должники'] = purp_sum
debt_purp['Доля должников'] = purp_sum / purp_count
debt_purp.sort_values('Доля должников', ascending = False)

                          Заемщики  Должники  Доля должников
purpose_category
операции с автомобилем        4281       400        0.093436
получение образования         3989       369        0.092504
проведение свадьбы            2324       183        0.078744
операции с недвижимостью     10754       780        0.072531

**Вывод:** больше просрочек по кредитам на автомобили или образование, в то время как в кредитах по недвижимости реже встречаются просрочки. Так же кредиты на проведение свадьбы реже встречаются с просрочками

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

*Ответ:* В данном случае, пропуски могут быть связаны с человеческим фактором. Количество пропусков в столбцах со стажем и доходам совпадает, соответственно можно сделать вывод, что не были указаны данные о месте работы, что в  свою очередь привело к отстутсвие данных о доходах

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:* Так как могут присутствовать переменные, сильно выделяющиеся среди большинства, что не дает возможности заполнить пропуски средними значениями. В нашем случае заполненялись медианами столбцы 'total_income' и 'days_employed'. Столбец 'total_income' заполнялся медианным значением так как есть большой разброс в данных, а 'days_employed' из-за присутствующих аномалий в данных (пенсионеры и безработные работали по тысяче лет)

## Общий вывод.

Семейный статус влияет на вероятность платежей по кредиту в срок - люди, состоявшие в браке чаще плятят в срок чем те, кто в браке не был, причем разведенные и овдовевшие платят в срок чаще, чем люди в браке. Чем больше детей, тем чаще платят не в срок, бездетные реже допускают просрочек по оплате.

Бездетные заемщики реже платят не в срок, чем заемщики с детьми. Так же чем больше детей у заемщиков, тем чаще не платят в срок. Семейный статус так же влияет на просрочки по платежам. Заемщики, состоящие в браке чаще платят в срок чем те, кто в браке не состоит, а разведенные и овдовевшие реже допускают просрочек, чем люди в браке. Больше просрочек по кредитам на автомобили или образование, в то время как в кредитах на недвижимось и свадьбу просрочки встречаются реже. Заемщики с доходами от 50000 до 200000 чаще допускают просрочки по кредитам, но и в целом заемщиков в этой категории больше. Меньшая доля просрочек в категориях "В" (200000-1000000) и "D" (30000-50000). Наивысшая доля должников в категории заемщиков с доходами до 30000, но и заемщиков в данной категории мало